.container-homepage-top{
    height: 200px;
    color: white;
    background-color: #1E1E1E;
    margin-top: 5%;
    text-align: left;
    padding-left: 5%;
    padding-top: 7%;
    font-size: 20px;
}
.container-content-home-below{
    color: white;
    background-color: #1E1E1E;
    margin-top: 5%;
    text-align: left;
    padding-left: 5%;
    padding-top: 2%;
    font-size: 20px;
    height: 700px;
}
.detail{
    padding: 2%;
    background-color: #757575;
    width: 95%;
  
   
}
.container-content-home{
    color: white;
    background-color: #1E1E1E;
    margin-top: 1%;
    text-align: left;
    height: 100%;
    padding-left: 5%;
    padding-top: 2%;
    font-size: 20px;
    padding-bottom: 2%;

}
.homePage-container{
    width: 100%;
    height: 100%;
}
.title-content{
    color: #FFCD29;
    margin-bottom: 2%;
    font-size: 20px;
}
.content-container{
    width: 50%;
   
}
.real-estate{
    width: 50%;
 
}
.btn-detail{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    color: black;
}
.btn-money{
    width: 100%;
    height: 30px;
    background-color: #FFCD29;
    border: none;
}
.find-out-more{
    text-align: center;
    margin-top: 5%;
    color: #FFCD29;
}
.content-container-button{
    width: 40%;
}
.register-now{
    margin-top: 5%;
    color: #FFCD29;
}