.container-homepage-top{
    height: 450px;
    color: white;
    background-image: url("../../img/992087.jpg");
    margin-top: 1px;
    text-align: left;

    font-size: 20px;
    object-fit: cover;
    position: relative;
    
}
.img-title{
 
  width: 100%;
  height: 100%;
  
}
.container-img{
  position: absolute;
  top: 30%;
  font-size: 25px;
  padding-left: 5%;
}
.container-content-home-below{
    color: white;
    background-color: #1E1E1E;
    margin-top: 5%;
    text-align: left;
    padding-left: 5%;
    padding-top: 2%;
    font-size: 20px;
    height: 700px;
}

.detail{
    padding: 2%;
    background-color: #757575;
    width: 95%;
  
   
}
.container-content-home{
    color: white;
    background-color: #1E1E1E;
    margin-top: 1%;
    text-align: left;
    height: 100%;
    padding-left: 5%;
    padding-top: 2%;
    font-size: 20px;
    padding-bottom: 2%;

}
.container-homepage-top h4{
  

   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #c2bdd4 0%,
    #cdea8d 29%,
    #a9b317bb 67%,
    #bab521 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;

}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.container-homepage-top p{
    
   text-transform: uppercase;
   background-image: linear-gradient(
     -225deg,
     #c2bdd4 0%,
     #cdea8d 29%,
     #d8e615 67%,
     #fff800 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   text-fill-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
  
}

.homePage-container{
    width: 100%;
    height: 100%;
}
.title-content{
    color: #FFCD29;
    margin-bottom: 2%;
    font-size: 30px;
    width: 500px;
}
.content-container{
    width: 100%;
    display: flex;

   
}
.real-estate{
    width: 50%;
 
}
.btn-detail{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    color: black;
}

.btn-money{
    width: 100%;
    height: 30px;
    background-color: #FFCD29;
    border: none;
    overflow: auto;
    background: linear-gradient(315deg, #CBB260 3%, #c7ba43 38%, #e8d5ad 68%, #E0D070 98%);

    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}
.find-out-more{
    text-align: center;
    margin-top: 5%;
    color: #FFCD29;
}
.content-container-button{
    width: 40%;
}
.register-now{
    margin-top: 5%;
    color: #FFCD29;
}


/* .container-homepage-top:hover {
    background-color: transparent;
    background-image: url('');
  }
  
  .container-homepage-top:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: opacity 0.5s ease;
    opacity: 0;
  } */


  
  /* .container-homepage-top:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../public/img/368323.jpg");
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease;
    opacity: 0;
  } */
  
  /* .container-homepage-top:hover::before,
  .container-homepage-top:hover::after {
    pointer-events: none;
    z-index: -1;
  }
  
  .container-homepage-top:hover::before {
    opacity: 1;
    transition-delay: 0.2s;
  }
  
  .container-homepage-top:hover::after {
    opacity: 0.5;
    transition-delay: 0.4s;
  }
   */







  .one:hover {
    background-color: transparent;
  }
  
  .one:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: opacity 0.5s ease;
    opacity: 0;
  }


  .one:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../public/img/368323.jpg");
    /* background-color: red; */
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease;
    opacity: 0;
  }
  
  .one:hover::before,
  .one:hover::after {
    pointer-events: none;
    z-index: -1;
  }
  
  .one:hover::before {
    opacity: 1;
    transition-delay: 0.2s;
  }
  
  .one:hover::after {
    opacity: 0.5;
    transition-delay: 0.4s;
  }
  






  .two-container:hover {
    background-color: transparent;
  }
  
  .two-container:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: opacity 0.5s ease;
    opacity: 0;
  }


  .two-container:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../public/img/459131.jpg");
    /* background-color: red; */
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease;
    opacity: 0;
  }
  
  .two-container:hover::before,
  .two-container:hover::after {
    pointer-events: none;
    z-index: -1;
  }
  
  .two-container:hover::before {
    opacity: 1;
    transition-delay: 0.2s;
  }
  
  .two-container:hover::after {
    opacity: 0.5;
    transition-delay: 0.4s;
  }
  






  .for-container:hover {
    background-color: transparent;
  }
  
  .for-container:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: opacity 0.5s ease;
    opacity: 0;
  }


  .for-container:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../public/img/488146.jpg");
    /* background-color: red; */
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease;
    opacity: 0;
  }
  
  .for-container:hover::before,
  .for-container:hover::after {
    pointer-events: none;
    z-index: -1;
  }
  
  .for-container:hover::before {
    opacity: 1;
    transition-delay: 0.2s;
  }
  
  .for-container:hover::after {
    opacity: 0.5;
    transition-delay: 0.4s;
  }
 




  
  .container-content-home-below:hover {
    background-color: transparent;

  }
  
  .container-content-home-below:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: opacity 0.5s ease;
    opacity: 0;
  }


 







  .container-content-home-below:hover {
    background-color: transparent;
 
  }
  
  .container-content-home-below:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: opacity 0.5s ease;
    opacity: 0;
  }


  .container-content-home-below:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../public/img/540264.jpg");
    /* background-color: red; */
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease;
    opacity: 0;
  }
  
  .container-content-home-below:hover::before,
  .container-content-home-below:hover::after {
    pointer-events: none;
    z-index: -1;
  }
  
  .container-content-home-below:hover::before {
    opacity: 1;
    transition-delay: 0.2s;
  }
  
  .container-content-home-below:hover::after {
    opacity: 0.5;
    transition-delay: 0.4s;
  }
 













  .buttom-container-content:hover {
    background-color: transparent;
  
  }
  
  .buttom-container-content:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: opacity 0.5s ease;
    opacity: 0;
  }


  .buttom-container-content:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../public/img/772318.jpg");
    /* background-color: red; */
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease;
    opacity: 0;
  }
  
  .buttom-container-content:hover::before,
  .buttom-container-content:hover::after {
    pointer-events: none;
    z-index: -1;
  }
  
  .buttom-container-content:hover::before {
    opacity: 1;
    transition-delay: 0.2s;
  }
  
  .buttom-container-content:hover::after {
    opacity: 0.5;
    transition-delay: 0.4s;
  }
 




  