.container-homepage-top{
    height: 200px;
    color: white;
    background-color: #1E1E1E;
    margin-top: 5%;
    text-align: left;
    padding-left: 5%;
    padding-top: 7%;
    font-size: 20px;
}
.container-content-home-below{
    color: white;
    background-color: #1E1E1E;
    margin-top: 5%;
    text-align: left;
    padding-left: 5%;
    padding-top: 2%;
    font-size: 20px;
    height: 700px;
}
.detail{
    padding: 2%;
    background-color: #757575;
    width: 95%;
  
   
}
.container-content-home{
    color: white;
    background-color: #1E1E1E;
    margin-top: 1%;
    text-align: left;
    height: 100%;
    padding-left: 5%;
    padding-top: 2%;
    font-size: 20px;
    padding-bottom: 2%;

}
.container-homepage-top h4{
  

   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #c2bdd4 0%,
    #cdea8d 29%,
    #a9b317bb 67%,
    #bab521 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;

}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.container-homepage-top p{
    
   text-transform: uppercase;
   background-image: linear-gradient(
     -225deg,
     #c2bdd4 0%,
     #cdea8d 29%,
     #d8e615 67%,
     #fff800 100%
   );
   background-size: auto auto;
   background-clip: border-box;
   background-size: 200% auto;
   color: #fff;
   background-clip: text;
   text-fill-color: transparent;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   animation: textclip 2s linear infinite;
  
}

.homePage-container{
    width: 100%;
    height: 100%;
}
.title-content{
    color: #FFCD29;
    margin-bottom: 2%;
    font-size: 20px;
}
.content-container{
    width: 50%;
   
}
.real-estate{
    width: 50%;
 
}
.btn-detail{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    color: black;
}
.btn-money{
    width: 100%;
    height: 30px;
    background-color: #FFCD29;
    border: none;
    overflow: auto;
    background: linear-gradient(315deg, #CBB260 3%, #c7ba43 38%, #e8d5ad 68%, #E0D070 98%);

    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}
.find-out-more{
    text-align: center;
    margin-top: 5%;
    color: #FFCD29;
}
.content-container-button{
    width: 40%;
}
.register-now{
    margin-top: 5%;
    color: #FFCD29;
}


