*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-navbar{
    position: relative;
}
.top-navbar-title{
    padding-right: 5px;
    border-right: 2px solid #56491A;
    margin-right: 5px;
    color: black;
}
.container-top-navbar{
    padding: 7px;
    background-color: #FFCD29;
    text-align: right;
    padding-right: 2%;
}
.logo-img{

    width: 400px;
    margin-top: -8%;

}
.container-img-logo{  

    background-color: #1E1E1E;
}
.container-button{
    display: flex;
    margin-top: -10%;
}
.btn-navbar{
    width: 250px;
    height: 50px;
    margin: 2%;
    font-size: 15px;
    background-color: #FFCD29;
    border: none;
    border-radius: 5px;
    overflow: auto;
    background: linear-gradient(315deg, #CBB260 3%, #c7ba43 38%, #e8d5ad 68%, #E0D070 98%);
    animation: gradient 5s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
  
}  @keyframes gradient {
        0% {
            background-position: 0% 0%;
        }
        50% {
            background-position: 100% 100%;
        }
        100% {
            background-position: 0% 0%;
        }
    }